{
    BasedOnStyle: LLVM,
    AccessModifierOffset: '-2',
    AlignAfterOpenBracket: Align,
    AlignTrailingComments: 'true',
    AllowAllArgumentsOnNextLine: 'true',
    AllowAllParametersOfDeclarationOnNextLine: 'true',
    AlwaysBreakAfterReturnType: None,
    BreakBeforeBraces: Allman,
    BreakStringLiterals: 'false',
    ColumnLimit: '90',
    IndentCaseLabels: 'true',
    IndentWidth: '2',
    Language: Cpp,
    MaxEmptyLinesToKeep: '1',
    NamespaceIndentation: All,
    PenaltyBreakAssignment: '2',
    PenaltyReturnTypeOnItsOwnLine: '200',
    PointerAlignment: Left,
    ReflowComments: 'false',
    SpaceBeforeAssignmentOperators: 'true',
    SpaceBeforeParens: Never,
    TabWidth: '2',
}